# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
public/assets/letters/а_big.mp4
public/assets/letters/а_small.mp4
public/assets/letters/б_big.mp4
public/assets/letters/б_small.mp4
public/assets/letters/в_big.mp4
public/assets/letters/в_small.mp4
public/assets/letters/г_big.mp4
public/assets/letters/ґ_big.mp4
public/assets/letters/г_small.mp4
public/assets/letters/ґ_small.mp4
public/assets/letters/д_big.mp4
public/assets/letters/д_small.mp4
public/assets/letters/е_big.mp4
public/assets/letters/е_small.mp4
public/assets/letters/є_big.mp4
public/assets/letters/є_small.mp4
public/assets/letters/ж_big.mp4
public/assets/letters/ж_small.mp4
public/assets/letters/з_big.mp4
public/assets/letters/з_small.mp4
public/assets/letters/и_big.mp4
public/assets/letters/и_small.mp4
public/assets/letters/Ї_big.mp4
public/assets/letters/і_big.mp4
public/assets/letters/і_small.mp4
public/assets/letters/ї_small.mp4
public/assets/letters/й_big.mp4
public/assets/letters/й_small.mp4
public/assets/letters/к_big.mp4
public/assets/letters/к_small.mp4
public/assets/letters/л_big.mp4
public/assets/letters/л_small.mp4
public/assets/letters/м_big.mp4
public/assets/letters/м_small.mp4
public/assets/letters/н_big.mp4
public/assets/letters/н_small.mp4
public/assets/letters/о_big.mp4
public/assets/letters/о_small.mp4
public/assets/letters/п_big.mp4
public/assets/letters/п_small.mp4
public/assets/letters/р_big.mp4
public/assets/letters/р_small.mp4
public/assets/letters/с_big.mp4
public/assets/letters/с_small.mp4
public/assets/letters/т_big.mp4
public/assets/letters/т_small.mp4
public/assets/letters/у_big.mp4
public/assets/letters/у_small.mp4
public/assets/letters/ф_big.mp4
public/assets/letters/ф_small.mp4
public/assets/letters/х_big.mp4
public/assets/letters/х_small.mp4
public/assets/letters/ц_big.mp4
public/assets/letters/ц_small.mp4
public/assets/letters/ч_big.mp4
public/assets/letters/ч_small.mp4
public/assets/syllables/ва_small.mp4
public/assets/syllables/ве_small.mp4
public/assets/syllables/ві_small.mp4
public/assets/syllables/га_small.mp4
public/assets/syllables/ге_small.mp4
public/assets/syllables/гі_small.mp4
public/assets/syllables/да_small.mp4
public/assets/syllables/де_small.mp4
public/assets/syllables/ді_small.mp4
public/assets/syllables/за_small.mp4
public/assets/syllables/зе_small.mp4
public/assets/syllables/зі_small.mp4
public/assets/syllables/ма_small.mp4
public/assets/syllables/ме_small.mp4
public/assets/syllables/мі_small.mp4
public/assets/syllables/на_small.mp4
public/assets/syllables/не_small.mp4
public/assets/syllables/ні_small.mp4
public/assets/syllables/па_small.mp4
public/assets/syllables/пе_small.mp4
public/assets/syllables/пі_small.mp4
public/assets/syllables/ра_small.mp4
public/assets/syllables/ре_small.mp4
public/assets/syllables/рі_small.mp4
